# APP SETTINGS
APP_ENVIRONMENT=Development
APP_DEBUG=True

# DATABASE SETTINGS
DB_DATABASE_URL=postgresql://user:pass@localhost:5432/jsldb

# SECURITY SETTINGS
SEC_ALLOWED_HOSTS=*
SEC_CORS_ORIGINS=*

# AUTH SETTINGS
AUTH_JWT_SECRET=super_secret_placeholder_do_not_use_in_prod

# INTEGRATION SETTINGS
AI_OLLAMA_URL=http://localhost:11434
SAP_HOST=sap.example.com
